.feet {
    width: 100%;
    padding: 1%;

    & section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 95%;
        max-width: 400px;
        margin: auto;
        background-image: url("/pez.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: 100% 100%;

        & span {
            display: flex;
            justify-content: space-between;
            color: #fff;
            font-family: monospace;
            font-size: .9rem;
            letter-spacing: 1px;
            text-shadow: 0 0 5px #000;
        }

        & span:nth-child(1) {
            width: 135px;
        }

        & span:nth-child(2) {
            width: 215px;
        }

        & span:nth-child(3) {
            width: 130px;
        }
    }
}