.Contact {
  max-width: 500px;
  color: #fff;
  font-family: monospace;
  text-shadow: 0 0 15px #000;
  //   border: 1px solid #ccc;

  & main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 500px;
    // border: 1px solid #ccc;

    & picture {
      display: flex;
      width: 95%;
      height: 100px;
      margin: auto;
      padding: 2%;
      border-radius: 15px;
      box-shadow: inset 0 15px 15px #202020;
  
      & img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 0 5px 5px #202020;
      }
    }
  
    & form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      z-index: 1000;
      width: 95%;
      height: 280px;
      padding: 2%;
      margin: auto;
      border-radius: 15px;
      background-image: url("/negativo2.png");
      background-size: 100% 100%;
      // border: 1px solid #ff00ff;

      & section:nth-child(1), :nth-child(2) {
        border: 1px solid #ccc;

        & label {
          position: absolute;
          transform: translate(5px);
          color: #000;
        }
      }
  
      & .comentario {
        width: 65%;
        max-width: 290px;
        padding: 2%;
  
        input {
          width: 100%;
          height: 100px;
          border-radius: 5px;
        }
      }
  
      & button {
        width: 40%;
        border-radius: 10px;
        background: transparent;
        color: #fff;
        border-color: #fff;
      }
    }
  }
}
