@use "./components/Navbar";
@use "./components/Photos";
@use "./components/Videos";
@use "./components/About";
@use "./components/Contact";
@use "./components/Footer";

.andres {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 75%;
  max-width: 500px;
  // height: 100vh;
  margin: auto;
  color: #ffffff;
  // overflow: hidden;
  filter: blur(initial);
  transition: 0.5s ease-in;
  // border: 1px solid;

  & p {
    font-size: 0.8rem;
    font-weight: 800;
    font-family: monospace;
  }

  & section {
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}


.layoutOpen {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  // height: 70vh;
  margin: auto;
  opacity: 0.2;
  filter: blur(10px);
}

.Opacity {
  opacity: 0.1;
  transition: opacity 0.5s ease-in-out;
}

.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130vh;
  background: linear-gradient(125deg, #1a1616cc, #444444, #1a1616cc);
  background-repeat: no-repeat;
  // border: 1px solid #000;
}