@use "./components/Navbar";

.andres {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 90%;
  height: 250px;
  margin: auto;
  transform: translate(0, 105px);
  //border: 1px solid;
}